body{
    background-color: wheat;
    padding: 0px;
    border: 0px;
    margin: 20px;
}
.main{
    box-sizing: border-box;
    width: 400px;
    background-color: #e3f4ff;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    
}
li{
    margin-bottom: 10px;
}

p.link_to_homepage,h1,h2  {
    text-align: center;
}

div.description{
    background-color: #e3f4ff;
    padding: 10px;

}
ul,ol{
    margin-bottom: 20px solid white;
}